---
title: Terminologies
---

.content

  h2 Terminology Mapping

  markdown:

    Following are the terminologies used in Factoroid. Its here to understand while migrating from CloudFactory.

    * Line &rarr; Template
    * Run &rarr; Transaction
    * Unit &rarr; Job
    * Input &rarr; Data Source
    * Output &rarr; Data Flow
    * Requester &rarr; Customer
    * Gold Standard &rarr; Ground Truth
    * Badge &rarr; Skill
    * Worker Pool &rarr; Work Source
    * Department &rarr; Template Category
    * Prebuilt Line &rarr; Standard Template
